---
layout: default
---

<div class="home">
    <div class="col-sm-2" style="width: 200px; margin-left: auto; margin-right: auto;">
        <img src="assets/myphoto.jpg" alt="LIUJiakun's Photo" width="200" class="profile" />
    </div>

    <section class="section summary-section">
        <h2 class="section-title">About Me</h2>
        <div class="summary">
            <p>I am currently an associate professor, doctoral supervisor, and Shenzhou Young Scholar at Harbin Institute of Technology. Visit my official <a href="https://homepage.hit.edu.cn/jiakunliu">homepage</a>. </p>

            <p>Prior that, I was a research scientist at Singapore Management University advised by <a href="http://www.mysmu.edu/faculty/davidlo/">Prof. David LO</a>. </p>

            <p>I received my Ph.D. degree in March 2022 from the College of Computer Science and Technology, Zhejiang University, China, advised by <a href="http://person.zju.edu.cn/en/0087125">Prof. LI Shanping</a> and <a href="https://xin-xia.github.io/">Dr. XIA Xin</a>.</p>

            <p>My research interest is intelligent software engineering. My research involves Artificial Intelligence for Software Engineering (AI4SE) and Software Engineering for Artificial Intelligence (SE4AI). In terms of AI4SE, I mainly use artificial intelligence-related techniques to (1) mine the software repositories and collective intelligence platforms, to understand the behaviors of software practitioners, as well as the software development and evolution processes; and (2) propose intelligent tools to enhance the efficiency of software development and improve the quality and user-experience of software products.
                In terms of SE4AI, I focus on the software supply chain and software technical debt in AI software.
            </p>
        </div>
        <!--//summary-->
    </section>
    <!--//section-->

    <section class="section experiences-section">
        <h2 class="section-title">Education</h2>

        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">PhD in Computer Science and Technology</h3>
                    <div class="time">2016 - 2022</div>
                </div>
                <div class="company">Zhejiang University</div>
            </div>
            <!--//meta-->
        </div>
        <!--//item-->
        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">Bsc in Systematic Engineering</h3>
                    <div class="time">2010 - 2014</div>
                </div>
                <div class="company">National University of Defense Technology</div>
            </div>
            <!--//meta-->
        </div>
        <!--//item-->

    </section>
    <!--//section-->

    <section class="section experiences-section">
        <h2 class="section-title">Experiences</h2>

        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">Research Scientist</h3>
                    <div class="time">2022 - 2025</div>
                </div>
                <!--//upper-row-->
                <div class="company">Singapore Management University, Singapore</div>
            </div>
            <!--//meta-->
        </div>
        <!--//item-->

        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">Software Engineer</h3>
                    <div class="time">2016 - 2018</div>
                </div>
                <!--//upper-row-->
                <div class="company">State Street Technology, Hangzhou, China</div>
            </div>
            <!--//meta-->
        </div>
        <!--//item-->
    </section>
    <!--//section-->
