---
layout: default
---

<div class="home">
    <div class="col-sm-2" style="width: 200px; margin-left: auto; margin-right: auto;">
        <img src="assets/myphoto.jpg" alt="LIUJiakun's Photo" width="200" class="profile" />
    </div>

    <section class="section summary-section">
        <h2 class="section-title">About Me</h2>
        <div class="summary">
            <p>I am now a research scientist at Singapore Management University advised by <a
                    href="http://www.mysmu.edu/faculty/davidlo/">Prof. David Lo</a>. </p>

            <p>I received my Ph.D. degree in March 2022 from the College of Computer Science and Technology, Zhejiang
                University, China, advised by <a href="http://person.zju.edu.cn/en/0087125">Prof. LI Shanping</a> and
                <a href="https://xin-xia.github.io/">Dr. XIA Xin</a>.</p>

            <p>My research interest is intelligent software engineering. I mainly use artificial intelligence and data
                mining-related
                technologies to mine data, including software repositories and collective intelligence platforms, to
                better understand
                how software practitioners work, how software is developed, and how software technologies evolve. My
                research mainly
                focuses on three aspects: (1) low-quality code in software repositories, including the software
                technical debt
                categories and evolution; (2) answer-seeking process for solving software engineering problems,
                including searching and
                question-asking in collective intelligence platforms; (3) knowledge sharing activities on collective
                intelligence
                platforms, including the repeated knowledge sharing activities and the maintenance of the shared
                knowledge. In recent
                years, I have published 7 papers in top journals and conferences (TSE, FSE, ICSE, EMSE) in the field of
                software
                engineering.</p>
        </div>
        <!--//summary-->
    </section>
    <!--//section-->

    <section class="section experiences-section">
        <h2 class="section-title">Education</h2>

        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">PhD in Computer Science and Technology</h3>
                    <div class="time">2016.9 - 2022.3</div>
                </div>
                <div class="company">Zhejiang University</div>
            </div>
            <!--//meta-->
        </div>
        <!--//item-->
        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">Bsc in Systematic Engineering</h3>
                    <div class="time">2010.9 - 2014.7</div>
                </div>
                <div class="company">National University of Defense Technology</div>
            </div>
            <!--//meta-->
        </div>
        <!--//item-->

    </section>
    <!--//section-->

    <section class="section experiences-section">
        <h2 class="section-title">Experiences</h2>

        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">Research Scientist</h3>
                    <div class="time">2022.9 - Present</div>
                </div>
                <!--//upper-row-->
                <div class="company">Singapore Management University, Singapore</div>
            </div>
            <!--//meta-->
        </div>
        <!--//item-->

        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">Software Engineer</h3>
                    <div class="time">2016.3 - 2018.3</div>
                </div>
                <!--//upper-row-->
                <div class="company">State Street Technology, Hangzhou, China</div>
            </div>
            <!--//meta-->
        </div>
        <!--//item-->
    </section>
    <!--//section-->
